[Unit]
Description=Java Springboot app start on Reboot systemd service
After=amazon-cloudwatch-agent.service

[Service]
Type=simple
ExecStart=/bin/sh -lc /tmp/springboot-startup.sh

[Install]
WantedBy=multi-user.target
